# Dependencies
node_modules

# yarn error logs
yarn-error.log

# Environment varibales
# Environment variables
.env*          # Ignores all .env files
!.env*.example # Except .env.example files

# Code coverage
coverage
